<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}">
    </head>
    <body>
        {% if filename %}
        <div class="upload_img">
            <div class="blur_img">
                <h2>Uploaded Image</h2>
                <img src="{{ url_for('static', filename='uploads/'+filename) }}">
            </div>
            <div class="blur_img">
                <h2>Blurred Image</h2>
                <img src="{{ url_for('static', filename='blurred_images/'+filename) }}">
            </div>
        </div>
        {% endif %}
    </body>
</html>