body {
  background-color:grey;
}
.upload {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(25, 17, 65);
    padding: 10px;
  }

h2 {
    text-align: center;
}
.upload_img{
  width: 50px;
}
.flash_msg{
  text-decoration: block;
}